<ul class="nav nav-tabs">
	<li><%= link_to 'Ask a Question', new_faq_path, class: "btn", role: "button", style:"padding: 3px 16px; color: #E9FFFF;" %></li>
	<li><a href="#" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Contact Us</a></li>
</ul>
<div style="padding: 5px 0; background-color: #034678;">
	<h4 style="text-align: center; margin: 0; color: #AAD7FD;"><strong>FAQs</strong></h4>
</div>