<% if @blog == nil %>
	<ul class="nav nav-tabs">
		<li><a href="#newestPost" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Newest Post</a></li>
		<li><%= link_to 'Add a Post', new_blog_path, class: "btn admin-btn", role: "button", style:"padding: 3px 16px; color: #E9FFFF;" %></li>
		<li><a href="#" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Contact Us</a></li>
	</ul>
	<div style="padding: 5px 0; background-color: #034678;">
		<h4 style="text-align: center; margin: 0; color: #AAD7FD;"><strong>Blog</strong></h4>
	</div>
<% end %>
<% if @blog != nil %>
	<ul class="nav nav-tabs">
		<li><a href="#newestPost" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Newest Post</a></li>
		<li><%= link_to 'Add a Post', new_blog_path, class: "btn admin-btn", role: "button", style:"padding: 3px 16px; color: #E9FFFF;" %></li>
		<li><a href="#" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Contact Us</a></li>
	</ul>
	<div style="padding: 5px 0; background-color: #034678;">
		<h4 style="text-align: center; margin: 0; color: #AAD7FD;"><strong><%= @blog.title %></strong></h4>
	</div>
<% end %>
