<ul class="nav nav-tabs">
	<li><a href="#topNews" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Top News</a></li>
	<li><a href="#trailer" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Trailer</a></li>
	<li><a href="#steam" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Steam</a></li>
	<li><a href="#gameSummary" role="button" class="btn" style="padding: 3px 16px; color: #E9FFFF;">Game Summary</a></li>
</ul>
<div style="padding: 5px 0; background-color: #034678;">
	<h4 style="text-align: center; margin: 0; color: #AAD7FD;"><strong>Home Page</strong></h4>
</div>